.application-form {
	margin-bottom: 60px;

	label {
		@extend %input;
		border-radius: 4px;
	}

	input:not([type=submit]), textarea {
		padding: 0;
		margin: 0;
	}

// 	input, textarea {
// 		@each $type in text, email, url, tel {
// 			&[type=#{$type}] {
// 				//@extend .icon-#{$type};
// 			}
// 		}
// 	}

// 	label i.icon {
// 		border-radius: 4px 0 0 4px;
// 		display: inline-block;
// 		width: 30px;
// 		min-height: 100%;
// 		background: #21202e;
// 		display:none; //debug
// 	}
}