.button {
	padding: 0 40px; //see line-height
	display: inline-block;

	background-color: $primary-green;
	border-radius: 10px;

	line-height: 50px;
	vertical-align: middle;

	color: $text-color;
	text-decoration: none;
	font-weight: 600;
	text-transform: uppercase;

	&:hover, &:active, &:focus {
		text-decoration: underline;
	}

	&.compact {
		padding: 0 8px;
		line-height: 40px;

		a {
			line-height: 40px;
			color: inherit;
		}
	}

	&.see-through {
		color: #fff;
		background: none;
		box-shadow: 0 0 0 1px #fff inset;
	}
}