@import 'grid';
@import 'buttons';
@import 'media-list';
@import 'icons';
@import 'well';
@import 'inline-list';
@import 'cta';
@import 'page-title';
@import 'description';
@import 'qa-list';
@import 'social-buttons';
@import 'application-form';
@import 'sticky';

.subtle {
	color: $subtle-text-color;

	a {
		color: inherit;
	}
}

.center {
	text-align: center;
}
