@import 'grid';
@import 'buttons';
@import 'media-list';
@import 'icons';
@import 'well';
@import 'inline-list';
@import 'cta';
@import 'page-title';
@import 'description';
@import 'qa-list';
@import 'social-buttons';
@import 'application-form';
@import 'sticky';
@import 'dropdown';

.subtle {
	color: $subtle-text-color;

	a {
		color: inherit;
		text-decoration: underline;

		&:hover, &:active, &:focus {
			color: lighten($subtle-text-color, 15%);
		}
	}
}

.dont-break {
	white-space: nowrap;
}

.center {
	text-align: center;
}
