.dropdown {
	ul { list-style: none; }
	.menu-toggle { display: none; }

	.menu-item-has-children {
		@include position(0px 0px 0 0);

		//span is the text of a "parent" page
		span {
			//Approximate copy of `_nav.scss` `nav a` rule
			display: inline-block;
			padding: 0 10px;

			text-transform: uppercase;

			line-height: 40px;
			color: #fff;

			cursor: default;
		}

		a, span {
			position: relative;
			z-index: 10;
		}

		.empty-menu-element {
			line-height: 0;
		}

		hr {
			display: inline-block;
			width: 60%; height: 1px;
			margin: 0 0 6px 0;

			border: 0;
			background: #e5e5e6;
			text-align: right;
		}

		ul {
			@include box-sizing(content-box);
			@include position(absolute, 0px 0px 0 0);
			z-index: 1;

			display: none;

			width: 100%;
			padding: 40px 8px 10px 0;


			background-color: #fafafa;
			border-radius: 10px;
			box-shadow: 0 0 1px lighten($dark-well-color, 60);

			color: inherit;
			font-size: 12px;

			a {
				width: 100%;
				padding: 4px;

				color: $text-color;

				line-height: 1.4;
				text-align: right;
			}
		}

		&:hover {
			span { color: $text-color; }
			ul { display: block; }
		}
	}
}