$icons: (\e800, icon-tick),
		(\e801, icon-linkedin),
		(\e802, icon-globe),
		(\e803, icon-user),
		(\e804, icon-phone),
		(\e805, icon-mail),
		(\e806, icon-edit),
		(\e807, icon-twitter),
		(\e808, icon-menu);

.icon {
	font-family: "Icons";
	font-style: normal;
	&:before {
	  display: inline-block;
	}
}

@each $icon in $icons {
	$code: nth($icon, 1);
	$name: nth($icon, 2);

	.#{$name}:before {
		content: "#{$code}";
	}
}