.media-list {
	h1 { letter-spacing: 0.5px; }
	p { font-weight: 300; }

	.media-item {
		@include span-columns(8);
		@include shift(2);
		margin-bottom: 80px;
		clear: both;
	}

	.media-right .media {
		float: right;
		text-align: right;
	}

	.media-left .media {
		float: left;
	}

	.media {
		width: 40%;
		display: inline-block;
	}
	.media-content {
		width: 60%;
		display: inline-block;
	}
}