.well {
	padding: 60px 0;
	background-color: $dark-well-color;
	color: $inverted-text-color;

	.one-of-three img {
		display: block;
		margin: 0 auto 20px auto;
	}

	p {
		margin-top: 18px;
	}

	&.sponsors {
		background-color: $bright-well-color;
		color: $subtle-text-color;

		a {
			color: $secondary-green;
		}

		.inline-list li {
			margin: 0 36px;
		}
	}
}

section.well {
	h1 {
		font-size: 22px;
	}
}

aside.well {
	h1 {
		font-size: 18px;
		font-weight: 300;
		margin-bottom: 18px;
	}
}