/// Needs a thougher clean up

.page-application {
	margin-bottom: 60px;
	input, label, textarea {
		border: 0;
		background: $bright-well-color;
		font-size: 14px;
		display: inline-block;
	}

	input, textarea {
		padding: 0;
		margin: 0;

		//border-radius: 0 4px 4px 0;

		font-size: 14px;
		
		&:focus {
			outline: none;
		}

		@each $type in text, email, url, tel {
			&[type=#{$type}] {
				//@extend .icon-#{$type};
			}
		}

		&[type=checkbox] {
			width: auto;
		}

		&[type=submit] {
			@extend .button;
			padding: 13px 12px;
			border-radius: 4px;
			line-height: 1;

			&[disabled] {
				opacity: 0.7;
			}
		}
	}

	input.short {
		width: 140px;
	}

	input.long {
		width: 240px;
	}

	label {
		margin: 0 30px 30px 0;
		padding: 13px 12px;

		border-radius: 4px;
	}

	label i.icon {
		border-radius: 4px 0 0 4px;
		display: inline-block;
		width: 30px;
		min-height: 100%;
		background: #21202e;

		display:none; //debug
	}

	.error {
		color: #9a201f;
		border: 1px solid #9a201f; //Until :before is implemented
	}
}