nav {
	width: 100%;
	padding: 20px 0;

	font-weight: 300;

	a {
		display: inline-block;
		padding: 0 10px;

		text-transform: uppercase;
		font-weight: inherit;

		line-height: 40px;
		color: #fff;
	}

	.nav-menu {
		@include span-columns(9);
		text-align: right;
	}

	.logo {
		@include span-columns(3);
		line-height: 1;
	}

	.logo-medium {
		@include span-columns(3);
		padding: 80px 0 20px 0;
		line-height: 1;
	}
}