@import "config";
@import "bourbon/bourbon";
@import "neat/neat";
@import "mixins/mixins";
@import "fonts";

@import "utilities/normalize";

@import "components/components";
@import "elements/elements";
@import "mobile";

html, body {
	width: 100%;
	min-height: 100%;
	font-size: 15px;
	@include font-smoothing(antialiased);
}

html {
	padding-bottom: 20px;
	background: $dark-well-color;
}

body {
	background: #fff;
}

header {
	width: 100%;
	z-index: 2;

	background: image-url('background.jpg') center 20%;
	background-size: cover;
}

nav.sticky + main {
	margin-top: 80px;
}

nav.sticky + main > section.well {
	margin-top: 140px;
}

footer {
	a {
		text-decoration: underline;
	}
	section {
		padding: 60px 0;
	}
}


section {
	position: relative;
	//background: image-url(); 
	&.social-media {
		a img {
			margin: 0 8px 23px 16px;
		}
	}
}

p {
	margin-top: 0;
}
