@import "config";
@import "bourbon/bourbon";
@import "neat/neat";
@import "mixins/mixins";
@import "fonts";

@import "utilities/normalize";

@import "components/components";
@import "elements/elements";

html, body {
	width: 100%;
	min-height: 100%;
	font-size: 15px;
	@include font-smoothing(antialiased);
}

html {
	padding-bottom: 20px;
	background: $dark-well-color;
}

body, main {
	background: #fff;
	@include clearfix();
}

header {
	width: 100%;
	z-index: 2;

	background: image-url('background.jpg') center 20%;
	background-size: cover;
}

main {
	//Add margin to make up for fixed menu
	margin-top: 140px;

	//hacky remove margin on descriptions
	> .grid-wrapper:first-child > p:first-child {
		margin-top: 0;
	}
}

.home header + main {
	//Override margin on frontpage
	margin-top: 60px;
}

footer {
	a {
		text-decoration: underline;
	}
	section {
		padding: 60px 0;
	}
}


section {
	position: relative;

	&.social-media {
		a img {
			margin: 0 10px 25px 10px;
		}
	}
}

p {
	margin-top: 0;
}


p.subheader {
	margin-top: 0;
}

.sponsors {
	overflow: hidden;
}

.js-slider {
	white-space: nowrap;
}

@import "mobile";